.popup__close-btn {
  width: 26px;
  height: 26px;
  background-image: url(../images/__close-btn.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 26px 26px;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
  position: absolute;
  top: -26px;
  right: -5px;
  z-index: 2;
}

.popup__close-btn:hover {
  opacity: .6;
}

.popup__close-btn:focus {
  outline: none;
}

@media screen and (min-width: 930px) {
  .popup__close-btn {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    top: -40px;
    right: -40px;
  }
}
